<div mat-dialog-title>Change profile picture</div>
  <div mat-dialog-content>
    <div class="text-center">
      <input class="form-control" type="file" [accept]="'.png'" (change)="onChange($event)">
    </div>
  </div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onUpload()" class="btn btn-success"> Upload </button>
</div>


<!-- Shareable short link of uploaded file -->
<div class="container text-center jumbotron"
     *ngIf="shortLink">
  <h2> Visit Here</h2>
  <a href="{{shortLink}}">{{shortLink}}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>
