<h4>Basic mat-select</h4>

<form (submit)="onSummit()" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Choisissez votre Pokemon starter</mat-label>
    <mat-select [formControlName]="'pokemon'">
      <mat-option *ngFor="let pokemon of pokemons" [value]="pokemon">
        {{pokemon.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">Envoyer</button>
</form>

{{form.value|json}}
