<!-- Navigation Bar -->
<div class="navbar">
  <app-nav-bar></app-nav-bar>
</div>

<div class="header">
  <h1>My account</h1>
</div>

<div class="row">
  <div class="flex-item-left">

      <div class="container">
        <div class="image2" style='background-image: url( {{urlPP}} )'></div>
        <!--<img src="{{url_pp}}" class="image" style="display: block; margin-left: auto">-->
        <div class="middle">
          <button mat-raised-button class="bouton" (click)="openDialogProfil()">Modify</button>
        </div>
      </div>
  </div>

  <div class="flex-item-right">
    <h2>{{ username }}
      <!--<button mat-icon-button color="accent" (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>-->
    </h2>

    <h4>{{ email }}</h4>
    <button mat-raised-button class="bouton" (click)="openDialogMdp()">Change password</button>
  </div>
</div>
