* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: "Permanent Marker";
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 25px;
  letter-spacing: 3px;
  color:
    #0ECE00;
}

h2 {
  color: aliceblue;
  font-family: "Permanent Marker";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
}
h4 {
  color:
    aliceblue;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.flex-item-left {
  flex: 50%;
  padding: 20px;
}

.container{
  float: right;
  position: relative;
}

/* Main column */
.flex-item-right {
  flex: 50%;
  padding: 20px;
}

.image {
  border-radius: 30%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image2 {
  border-radius: 40px;
  opacity: 1;
  display: block;
  width: 300px;
  height: 300px;
  transition: .5s ease;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  img{
    display: block;
    margin-right: auto;
  }
}

.bouton{
  background-color: #0ECE00;
  color: black;
}

