<!-- Nom d'utilisateur -->
<!--h1 mat-dialog-title>Hi {{data.name}}</h1-->
<h1 mat-dialog-title>Entrer le nouveau nom</h1>
<div mat-dialog-content>
  <mat-form-field appearance="legacy">
    <input matInput [(ngModel)]="data.newName" class="search-color">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <!--button mat-button [mat-dialog-close]="data.newName" cdkFocusInitial>Ok</button-->
  <button mat-button (click)="onSubmit()">Ok</button>
</div>
