<app-nav-bar></app-nav-bar>
<div style="margin-top: 88px; margin-bottom: 15px">
  <app-game-carousel [customTitle]="forYou"></app-game-carousel>
  <app-game-carousel [customTitle]="new"></app-game-carousel>
  <app-game-carousel [customTitle]="bestMark"></app-game-carousel>
  <app-game-carousel [customTitle]="otherPlayer"></app-game-carousel>
</div>
<app-footer></app-footer>
