<div mat-dialog-content>
  <div mat-dialog-title>Change password</div>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Current password</mat-label>
        <!-- Mot de passe à récup dans la bdd -->
        <input matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="nowPassword">
      </mat-form-field>
    </div>

    <!-- Nouveau mot de passe -->
    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>New password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getConnexion.password.errors }" required/>

        <!-- To show error message -->
        <mat-error *ngIf="submitted && (getConnexion.password.errors || getConnexion.password.touched)" class="text-danger">
          <div *ngIf="getConnexion.password.errors?.required">This field is required</div>
          <div *ngIf="getConnexion.password.errors?.minlength">The password must be at least 6 symbols long</div>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Confirmation Mot de passe -->
    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && getConnexion.confirmPassword.errors }" required/>
        <mat-error *ngIf="submitted && getConnexion.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="getConnexion.confirmPassword.errors.required">This field is required</div>
          <div *ngIf="getConnexion.confirmPassword.errors.mustMatch">This field must match with the password one</div>
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!--button mat-button [mat-dialog-close]="data.newPassword" cdkFocusInitial>Ok</button-->
  <button mat-button (click)="onSubmit()">Confirm</button>

</div>
