<div class="error404">
  <mat-card>

    <mat-card-title>Erreur 404</mat-card-title>
    <mat-card-content>La page demandé n'existe pas</mat-card-content>
    <div style="margin-top: 10px" class="form-group">
      <button style="width: 135px" (click)="backClicked()" mat-raised-button>Retour</button>
    </div>

  </mat-card>
</div>
