.mat-card {
  height: fit-content;
  width: fit-content;
}

.mat-form-field {
  width: 400px;
}

.mat-card-title, .form-group {
  display: flex;
  justify-content: center;
}

.error404 {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}
