<div class="connexion">
  <mat-card>
    <mat-card-title>Sign in</mat-card-title>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input autocomplete="off" matInput type="text" formControlName="txtName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && getForm.txtName.errors }" />
          <mat-error *ngIf="submitted && (getForm.txtName.errors || getForm.txtName.touched)" class="text-danger">
            <div *ngIf="getForm.txtName.errors?.required">Username required</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div style="margin-top: 5px; padding-bottom: 0" class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="txtPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && getForm.txtPassword.errors }" />

          <!-- To hide/show password TODO: DON'T SUBMIT THE FORM IF FORM VALID -->
          <!--<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>-->

          <!-- To show error message -->
          <mat-error *ngIf="submitted && (getForm.txtPassword.errors || getForm.txtPassword.touched)" class="text-danger">
            <div *ngIf="getForm.txtPassword.errors?.required">Password required</div>
            <div *ngIf="getForm.txtPassword.errors?.minlength">The password must be at least 6 symbols long</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group stayConnect">
        <mat-checkbox (change)="checkStayConnectValue($event)">Stay connected</mat-checkbox>
      </div>

      <div style="margin-top: 20px" class="form-group">
        <button style="width: 135px" mat-raised-button color="primary">Log in</button>
      </div>

    </form>

    <div style="margin-top: 10px" class="form-group">
      <button style="width: 135px" routerLink="/register" routerLinkActive="active" mat-raised-button color="primary">Register</button>
    </div>

  </mat-card>
</div>

