.mat-card {
  height: fit-content;
  width: fit-content;
}

.mat-form-field {
  width: 400px;
}

.mat-card-title, .form-group {
  display: flex;
  justify-content: center;
}

.connexion {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.stayConnect {
  justify-content: right;
  margin-right: 20px;
}
