ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: #111;
    }
  }
}

h1 {
  margin-left: 30px;
  margin-top: 5px;
}

.first_menu {
  margin-left: 5%;
  font-size: 2em;
}

.last_menu {
  margin-right: 10px ;
}

.names {
  padding: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  background-color:white;
  margin-bottom: -20px;
}
.form-lang{
  width: 100px;
  background-color:white;
  margin-bottom: -20px;
}
