<ul>
  <li class="first_menu"><a routerLink="/home">Pokedex Angular</a></li>
  <li><a routerLink="/home">{{ 'nav.pokemon' | translate }}</a></li>
  <li><a routerLink="/locations">{{ 'nav.areas' | translate }}</a></li>
  <li class="float-right last_menu"><a class="active" href="https://pokeapi.co/">{{ 'nav.about' | translate }}</a></li>
  <li class="float-right last_menu">
    <mat-form-field class="form-lang" appearance="fill">
      <mat-label>Langue de l'api</mat-label>
      <mat-select [ngModel]="pokeLang" (valueChange)="setPokeLang($event)">
        <mat-option value="fr">{{ 'nav.lang.fr' | translate }}</mat-option>
        <mat-option value="en">{{ 'nav.lang.en' | translate }}</mat-option>
        <mat-option value="ja-Hrkt">{{ 'nav.lang.ja-Hrkt' | translate }}</mat-option>
        <mat-option value="de">{{ 'nav.lang.de' | translate }}</mat-option>
        <mat-option value="es">{{ 'nav.lang.es' | translate }}</mat-option>
        <mat-option value="it">{{ 'nav.lang.it' | translate }}</mat-option>
        <mat-option value="ko">{{ 'nav.lang.ko' | translate }}</mat-option>
        <mat-option value="zh-Hant">{{ 'nav.lang.zh-Hant' | translate }}</mat-option>
        <mat-option value="cs">{{ 'nav.lang.cs' | translate }}</mat-option>
        <mat-option value="roomaji">{{ 'nav.lang.roomaji' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </li>
  <li class="float-right last_menu">
    <mat-form-field class="form-lang" appearance="fill">
      <mat-label>{{ 'nav.language' | translate }}</mat-label>
      <mat-select [ngModel]="siteLang" (valueChange)="setSiteLang($event)">
        <mat-option value="fr">Français</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>
  </li>
  <li class="float-right search last_menu">
    <form (submit)="submitForm()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ 'nav.search' | translate }}</mat-label>
        <input type="text"
              placeholder="Pick one"
              aria-label="Pokemon"
              #searchInput
              matInput
              [formControl]="formControl"
              [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onClickPokemon($event.option.value)" #auto="matAutocomplete">
          <mat-option *ngFor="let pokemon of pokemons" [value]="pokemon">
            {{pokemon.names | pokeTranslate}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </li>
</ul>
<mat-card-subtitle class="float-right names">Coralie Fernandez - Dylan Rey</mat-card-subtitle>
