<app-nav-bar></app-nav-bar>
<h2 class="text-center">{{ 'home.title' | translate }}</h2>
<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
</div>

