.pokemon-card {
  margin: 7px;
}

:host {
  max-width: 16.6%;
  min-width: 16.6%;
  display: inline-block;
}

/*img.mat-card-avatar {
  height: 100px;
  width: 100px;
  image-rendering: pixelated;
}*/

@media(max-width:1200px) {
  :host {
    max-width: 25%;
    min-width: 25%;
  }
}

@media(max-width:1000px) {
  :host {
    max-width: 33.3%;
    min-width: 33.3%;
  }
}

@media(max-width:500px) {
  :host {
    max-width: 50%;
    min-width: 50%;
  }
}

mat-card-content, mat-card-actions{
  display: block;
  text-align: center;
}

.pokemon-card:hover .image {
  opacity: 0.2;
}

.pokemon-card:hover .detail {
  opacity: 1;
}

.detail {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0ECE00;
  color: black;
}

h3{
  font-family: "Permanent Marker";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 25px;
  letter-spacing: 2px;
  color: #0ECE00;
}
