<mat-card class="pokemon-card">
  <!--img mat-card-image [src]="pokemon?.iconSrc"-->
  <img mat-card-image class="image" src="{{cover}}">
  <mat-card-content>
    <!--{{ pokemon?.id }} - {{ pokemon?.names | pokeTranslate}}-->
    <span>{{ name }}</span>
  </mat-card-content>
  <mat-card-actions>
    <button class= "detail" *ngIf="displayDetailButton" mat-button [routerLink]="'/game/' + id ">DETAIL</button>
  </mat-card-actions>
</mat-card>
