:host{
  display: block;
  padding: 20px;
}
.mat-elevation-z8{
  padding-top: 1px;
}
mat-spinner{
  margin: 100px auto;
}

h2{
  margin: 20px;
  font-size: 2em;
  text-transform: uppercase;
}

table {
  width: 100%;
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
  }
}

mat-chip{
  cursor: pointer;
}
[hidden]{
  display: none;
}
