<h2 class="text-center">{{ 'location.title' | translate }}</h2>
<div class="mat-elevation-z8">
    <mat-spinner *ngIf="!locations.length"></mat-spinner>
  <table mat-table [dataSource]="locations" *ngIf="locations.length">
    <!-- Position Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> {{ 'location.region' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ 'location.name' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.names  | pokeTranslate}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="areas">
      <th mat-header-cell *matHeaderCellDef> {{ 'location.areas' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let area of element.areas" [routerLink]="['../area',area.id]">
            {{area.names | pokeTranslate: area.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="pageChange($event)"
                 [pageIndex]="page"
                 [pageSize]="pageSize"
                 color="primary"
                 [pageSizeOptions]="[10,20,50,200]"
                 [length]="total"

  >
  </mat-paginator>
</div>
