<!-- Toolbar -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="show-mobile">
  <nav>
    <div class="toolbar" role="banner">
      <h1>POLYGAMES</h1>
      <div class="spacer"></div>
      <span style="font-size:30px;cursor:pointer;margin-right:50px; margin-top: 3px" onclick="openNav()">
        <mat-icon>menu</mat-icon>
      </span>
    </div>
  </nav>
  <div style="z-index: 999" id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()"><mat-icon>close</mat-icon></a>
    <a href="/home">HOMEPAGE</a>
    <a href="/search">SEARCH GAMES</a>
    <a href="/myList">MY LIST</a>
    <a href="/profil">MY ACCOUNT</a>
    <a (click)="disconnect()">QUIT</a>
  </div>
</div>

<nav class="hide-mobile">
  <div class="toolbar" role="banner">
    <a href="/home"><h1>POLYGAMES</h1></a>
    <a aria-label="Ma liste" href="/search">
      <div class="menu">SEARCH GAMES</div>
    </a>
    <a aria-label="Ma liste" href="/myList">
      <div class="menu">MY LIST</div>
    </a>
    <div class="spacer"></div>
    <p id="accountName">{{ username }}</p>
    <!-- TODO: LOOK IF THE ACCOUNT HAVE A PP -->
    <!--<button id="user-button" mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon id="user-logo">supervised_user_circle</mat-icon></button>-->
    <button id="user-button" mat-button [matMenuTriggerFor]="beforeMenu"><!--<img id="user-logo" src="{{url_pp}}">--><div class="image2" style='background-image: url( {{url_pp}} )'></div></button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="account()">MY ACCOUNT</button>
      <button mat-menu-item (click)="disconnect()">QUIT</button>
    </mat-menu>
  </div>
</nav>
<div class="line"></div>
<div class="line2"></div>
