<div [hidden]="!show">
  <h2 style="margin-top: 30px">{{ customTitle }}</h2>
  <div style="margin-right: 7%; margin-left: 7%" class="carousel-cont">
    <carousel style="z-index: 10"
              (events)="handleCarouselEvents($event)"
              [cellWidth]="180"
              [height]="240"
              [margin]="40"
              [arrowsOutside]="true"
              [borderRadius]="5"
              [images]="images">
    </carousel>
  </div>
</div>
