h2{
  font-family: "Play";
  margin: 88px 88px 8px 60px;
  font-size: 2em;
  color: white;
}

.carousel-cont {
  margin-left: 60px;
  margin-right: 60px;
  img {
    transition: all ease-in-out 0.3s;
    transform: scale(1);
    filter: brightness(1);
    &:hover {
      transform: scale(1.2);
      filter: brightness(1.1);
    }
  }
}
