<div *ngIf="pokemon" class="container flex-col">

  <div class="flex-row flex-all-1">
    <mat-card>
      <mat-card-title>{{ pokemon.names | pokeTranslate }}</mat-card-title>
      <img [src]="pokemon.artworkSrc">
    </mat-card>

    <mat-card>
      <mat-card-title>{{ 'detail.stat' | translate }}</mat-card-title>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
      <ul>
        <li>{{ 'pokecard.height' | translate : {value: pokemon?.height } }}</li>
        <li>{{ 'pokecard.weight' | translate : {value: pokemon?.weight } }}</li>
        <li>Type: {{ pokemon?.typeNames | pokeTranslate }}</li>
        <li *ngIf="pokemon?.type2">Type2:{{ pokemon?.type2Names | pokeTranslate}}</li>
      </ul>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-title>{{ 'detail.areas' | translate }}</mat-card-title>
    <mat-chip-list>
      <mat-chip [routerLink]="['/area', area.id]" *ngFor="let area of pokemon.areas"> {{area.name}}</mat-chip>
    </mat-chip-list>
  </mat-card>

</div>

<div *ngIf="!pokemon">
  <mat-spinner></mat-spinner>
</div>
