<mat-card class="pokemon-card">
  <mat-card-header>
    <img mat-card-avatar [src]="pokemon?.iconSrc">
    <mat-card-title>{{ pokemon?.id }} - {{ pokemon?.names | pokeTranslate}}</mat-card-title>
    <mat-card-subtitle>{{ pokemon?.typeNames | pokeTranslate }} <ng-container *ngIf="pokemon?.type2"> - {{ pokemon?.type2Names | pokeTranslate}}</ng-container> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>{{ 'pokecard.height' | translate : {value: pokemon?.height } }}</li>
      <li>{{ 'pokecard.weight' | translate : {value: pokemon?.weight } }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="displayDetailButton" mat-button [routerLink]="'/detail/' + pokemon?.id ">DETAIL</button>
  </mat-card-actions>
</mat-card>
