.pokemon-card {
  margin: 7px;
}

:host {
  max-width: 25%;
  min-width: 25%;
  display: inline-block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img.mat-card-avatar {
  height: 70px;
  width: 70px;
  image-rendering: pixelated;
}

@media(max-width:1200px) {
  :host {
    max-width: 33.3%;
    min-width: 33.3%;
  }
}

@media(max-width:1000px) {
  :host {
    max-width: 50%;
    min-width: 50%;
  }
}

@media(max-width:500px) {
  :host {
    max-width: 100%;
    min-width: 100%;
  }
}
