/* You can add global styles to this file, and also import other style files */

$primary: #0ECE00;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #292929;
}

.float-right {
  float: right !important;
}

.search {
  margin-right: 100px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-all-1 > *{
  flex: 1;
}

.text-center {
  text-align: center;
}

.carousel-cont {
  margin-left: 60px;
  margin-right: 60px;
  img {
    transition: all ease-in-out 0.3s;
    transform: scale(1);
    filter: brightness(1);
    &:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
    }
  }
}
