h2{
  margin: 20px;
  color: aliceblue;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0ECE00;
}

mat-spinner {
  margin: 20vh auto auto;
}
.title {
  margin-top: 100px;
}

.search-hero {
  margin: 0 auto;
  max-width: 500px;
  height: 80px;
}

.example-form-field{
  width: 100%;
  color: aliceblue;
}

.search-color{
  caret-color: #0ECE00 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: aliceblue !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}


