<app-nav-bar></app-nav-bar>
<div class="title text-center">
  <h2>Que souhaitez-vous rechercher ? </h2>
</div>

<div class="container">
    <div class="search-hero">

      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label> Rechercher un jeu... </mat-label>
        <input matInput type="text" class="search-color" name="search" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" autocomplete="off">
        <!--<input matInput type="text" class="search-color" name="search" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" autocomplete="off">-->
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText='';">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
      <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>
    </div>
    <mat-spinner *ngIf="searchWords.length ? this.nextSearchIndex !== -1 : count >= page * 20" ></mat-spinner>
</div>



