* {
  color: white;
}

.contentDetail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contentDetail2, .contentDetail3{
  position: absolute;
  top: -1000px;
}
.contentDetail1 {
  position: relative;
  top: 0px;
}

h1 {
  font-family: "Permanent Marker";
  color: #0ECE00;
  font-size: 35px;
}

.description {
  border-bottom: 1px dotted grey;
}

#desc{
  transition: all ease-in-out 0.5s;
}

.desc .text.short {
  height: 80px;
  overflow: hidden;
}
.desc .full {
  height: auto !important;
}

.read-more {
  cursor: pointer;
  display: inline-block;
  color: #0ECE00;
}

.visible{
  display: block !important;
}

.button-row {
  width: 100%;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


/************************************************/

#page-flex-container{
  display: flex;
  justify-content: center;
  background-position: center 65px;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-content{
  width: 80%;
  background-color: rgba(41, 41, 41, 0.5);
  padding-left: 30px;
  padding-right: 30px;
}

h1{
  margin-top: 150px;
}

.flex-main{
  display: flex;
}

.inner-image{
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 20px;
}

#cover-img{
  width: 200px;
}

.inner-content{
  flex-grow: 2;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.top-section{
  display: flex;
  justify-content: space-between;
}

.cats{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 3;
}

#rating-circle{
  width: 60px !important;
  height: 60px;
  border: 3px solid green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgba(1, 1, 1, 0.6);
  flex-shrink: 0;
}

.desc{
  margin-bottom: 10px;
  background-color: #3A3A3A;
  padding: 10px;
  border-radius: 10px;
}

#desc{
  width: 100%;
}

a{
  color: #0ECE00;
}

.score{
  font-size: 2em;
  position: relative;
  top: -5%;
  left: 13%;
}

.scoreTotal{
  font-size: 0.5em;
  position: relative;
  top: 25%;
  left: -10%;

}

/************************************************/

.game-info-cards{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-info-card{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  width: 30%;

  p span img{
    width: 20px;
    position: relative;
    top: 5px;
  }

}


.game-info-title{
  border-bottom: solid rgb(14, 206, 0);
  color: #0ECE00;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 550;
  padding-top: 5px;
  padding-bottom: 5px;
}

/********************************************************************************************/

@media screen and (max-width: 930px) {
  .inner-image{
    display: flex;
    justify-content: center;
  }
  .flex-main{
    display: flex;
    flex-direction: column;
  }
  .contentDetail1, .contentDetail3{
    position: absolute;
    top: -1000px;
  }
  .contentDetail2 {
    position: relative;
    top: 0px;
  }
  .cats{
    display: flex;
    justify-content: flex-start;
    /*flex-wrap: wrap;*/
  }
}

@media screen and (max-width: 550px) {

  .game-info-cards, .top-section, .cats {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .game-info-card{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #rating-circle{
    order: -1;
  }
  .contentDetail1, .contentDetail2{
    position: absolute;
    top: -1000px;
  }
  .contentDetail3 {
    position: relative;
    top: 0px;
  }

  .flex-container{
    justify-content: center;
  }

}

