<h1 class="text-center">{{ 'location_detail.area' | translate }} {{area?.names | pokeTranslate : area?.name}}</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'location_detail.location' | translate }} {{area?.location?.names | pokeTranslate}} ({{ area?.location?.region}})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>{{ 'location_detail.otherZone' | translate }} {{area?.location?.names | pokeTranslate}}: </h3>
    <mat-chip-list>
      <mat-chip *ngFor="let subArea of area?.location?.areas"
                [routerLink]="['..',subArea.id]"
                [selected]="subArea.id === area?.id"
      >{{subArea.names | pokeTranslate : area?.name}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'location_detail.pokemon' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!loading">
    <app-pokemon-card *ngFor="let pokemon of area?.pokemons" [pokemon]="pokemon"></app-pokemon-card>
  </mat-card-content>
  <mat-card-content *ngIf="loading">
    <mat-spinner></mat-spinner>
  </mat-card-content>
</mat-card>
