.mat-card{
  min-height: 540px;
  width: fit-content;
  margin-top: 15%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px yellow inset;
}

.list-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

fieldset{
  height: 45vh;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #4f4f4f;
  }
  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.form-group-checkbox{
  display: flex;
  flex-wrap: wrap;
  .check-div{
    flex: 0 1 33%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    input{
      display: none;
      &:checked + label{
        background-color: white;
        color: black;
      }
    }
    label{
      padding: 5px 15px;
      transition-duration: 0.3s;
      border: 1px solid white;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex: 0 1 80%;
      justify-content: center;
      align-items: center;
    }
  }
}

.mat-form-field{
  width: 400px;
}

.mat-card-title, .form-group{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.connexion{
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}

ul {
  list-style-type: none;
  margin-top: 4px;
}


legend {
  color: aliceblue;
  border-radius: 2px;
}


