<div class="connexion">
  <mat-card>
    <mat-card-title>New account</mat-card-title>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Personal data</ng-template>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Firstname</mat-label>
              <input autocomplete="off" matInput formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && getId.firstname.errors }" required>

              <mat-error *ngIf="submitted && (getId.firstname.errors || getId.firstname.touched)" class="text-danger">
                <div *ngIf="getId.firstname.errors?.required">This field is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input autocomplete="off" matInput formControlName="name" [ngClass]="{ 'is-invalid': submitted && getId.name.errors }" required>

              <mat-error *ngIf="submitted && (getId.name.errors || getId.name.touched)" class="text-danger">
                <div *ngIf="getId.name.errors?.required">This field is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input autocomplete="off" matInput type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getId.email.errors }" required/>
              <mat-error *ngIf="submitted && getId.email.errors" class="invalid-feedback">
                <div *ngIf="getId.email.errors?.required">This field is required</div>
                <div *ngIf="getId.email.errors?.email">This field must contain a valid E-mail</div>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="form-group">
            <button style="width: 130px" mat-raised-button color="accent" matStepperNext (click)="onSubmitId()">Next</button>
          </div>
          <div class="form-group">
            <button style="width: 120px" mat-raised-button type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Login information</ng-template>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input autocomplete="off" matInput formControlName="username" [ngClass]="{ 'is-invalid': submitted && getConnexion.username.errors }" required>
              <mat-error *ngIf="submitted && (getConnexion.username.errors || getConnexion.username.touched)" class="text-danger">
                <div *ngIf="getConnexion.username.errors?.required">This field is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Mot de passe -->
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getConnexion.password.errors }" required/>

              <!-- To show error message -->
              <mat-error *ngIf="submitted && (getConnexion.password.errors || getConnexion.password.touched)" class="text-danger">
                <div *ngIf="getConnexion.password.errors?.required">This field is required</div>
                <div *ngIf="getConnexion.password.errors?.minlength">The password must be at least 6 symbols long</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Confirmation Mot de passe -->
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && getConnexion.confirmPassword.errors }" required/>
              <mat-error *ngIf="submitted && getConnexion.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="getConnexion.confirmPassword.errors.required">This field is required</div>
                <div *ngIf="getConnexion.confirmPassword.errors.mustMatch">This field must match with the password one</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <button style="margin-right: 2px; width: 130px" mat-raised-button color="accent" matStepperPrevious>Previous</button>
            <button style="margin-left: 2px; width: 130px" mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
          <div class="form-group">
            <button style="width: 120px" mat-raised-button type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Categories</ng-template>
          <div class="form-group">
            <fieldset>
              <legend>Select your three favorite game categories</legend>
              <div class="form-group-checkbox">
                  <div class="check-div" *ngFor="let category of categories">
                    <input type="checkbox" id="{{category.id}}" class="case" formControlName="categories" (click)="doAction()" value={{category.id}} required>
                    <label for="{{category.id}}">{{category.name}}</label>
                  </div>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <button style="margin-right: 2px; width: 130px" mat-raised-button color="accent" matStepperPrevious>Previous</button>
            <button id="categ" [disabled]="isDisabled" style="margin-left: 2px; width: 130px" mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
          <div class="form-group">
            <button style="width: 120px" mat-raised-button type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Conditions</ng-template>
          <div style="margin-top: 25%" class="form-group form-check">
            <mat-checkbox formControlName="acceptTerms" id="acceptTerms" [ngClass]="{ 'is-invalid': submitted && getCondition.acceptTerms.errors }" (change)="termActive($event)">Accept the terms and conditions</mat-checkbox>
          </div>
          <div style="margin-top: 0px; padding-top: 0px" class="form-group">
            <mat-error *ngIf="submittedFinal && getCondition.acceptTerms.errors" class="invalid-feedback">You need to accept the terms</mat-error>
          </div>
          <div class="form-group">
            <button style="width: 135px" mat-raised-button color="primary" (click)="onSubmit()">Create</button>
          </div>

          <div class="form-group">
            <button style="width: 120px" mat-raised-button type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>


